:host {
  max-width: 100%;
  display: flex;
  height: 100%;
  max-width: 800px;
  margin: 0 auto;
  gap: 1.5rem;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.search-box-container {
  max-width: 800px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  min-width: 800px;
}

.search-bar {
  display: flex;
  border-radius: 50px;
  padding: 5px;
  width: 100%;
}

.search-bar .mode-select {
  border: none;
  background: #f0f0f0;
  border-radius: 50px 0 0 50px;
  padding: 0 20px;
  font-weight: bold;
  outline: none;
  margin-left: 10px;
}

.search-bar input {
  flex: 1;
  border: none;
  padding: 15px 20px;
  font-size: 1.1rem;
  outline: none;
  border-radius: 50px;
}

.search-bar .search-btn {
  background: #ff4d4d;
  color: white;
  border: none;
  padding: 0 30px;
  border-top-left-radius: 0;
  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;
  border-bottom-left-radius: 0;
  cursor: pointer;
  font-weight: bold;
  transition: background 0.2s;
}
.search-bar .search-btn:hover {
  background: #e60000;
}
.capsule-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
  animation: fadeIn 0.3s ease-in;
}
.capsule-container .capsule {
  background: rgba(223, 223, 223, 0.856);
  backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  color: gray;
  padding: 8px 18px;
  border-radius: 20px;
  cursor: pointer;
  transition: all 0.2s;
}

.capsule-container .capsule:hover {
  background: white;
  color: #333;
  transform: translateY(-2px);
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-5px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
