.logo {
  height: 50px;
  width: 50px;
  display: block;
  padding-left: 40px;
  padding-top: 10px;
}

img {
  height: 100%;
  width: 100%;
  background: white;
  border-radius: 25px;
}

:host {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
