* {
  box-sizing: border-box;
  transition: all ease-in-out 250ms;
  outline: none;
}

html body {
  margin: 0;
  scroll-behavior: smooth;
  padding: 0;
  width: 100%;
  height: 100%;
  text-align: center;
  font-family: monospace;
  text-transform: uppercase;
}

html {
  scroll-behavior: smooth;
}

header {
  left: 0;
  right: 0;
  margin: 0;
  overflow: hidden;
  position: absolute;
  background-color: #00dfff;
}

.logo {
  float: left;
  padding-left: 2em;
  padding-top: 0.2em;
}

@media screen and (max-width: 600px) {
  .logo {
    padding-top: 0.2em;
    float: none;
    padding-left: 0;
  }
}

nav {
  float: right;
}

@media screen and (max-width: 600px) {
  nav {
    float: none;
  }
}

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

nav li {
  display: inline-block;
}

.home-container {
  width: 100%;
  padding: 10em 0;
  background-image: url(../img/1366x768-DSC100559112.jpg);
  background-size: cover;
  background-position: center;
  height: 100vh;
  padding-top: 27vh;
}

@media screen and (max-width: 600px) {
  .home-container {
    width: 100%;
    padding: 10em 0;
    background-image: url(../img/Trigraphy-Wallpaper-Bulbasaur.jpg);
    background-size: cover;
    background-position: center;
    height: 100vh;
    padding-top: 17vh;
  }
}

@media screen and (max-width: 900px) {
  .home-container {
    width: 100%;
    padding: 10em 0;
    background-image: url(../img/Trigraphy-Wallpaper-Bulbasaur.jpg);
    background-size: cover;
    background-position: center;
    height: 100vh;
    padding-top: 22vh;
  }
}

.container {
  width: 100%;
  margin: 0 auto;
}

.home-content {
  width: 61%;
  color: white;
  padding-left: 1em;
  padding-right: 0;
}

@media screen and (max-width: 600px) {
  .home-content {
    width: 100%;
    color: white;
    padding-left: 1em;
    padding-right: 1em;
  }
}

.home-input {
  border-radius: 0.4em;
  border: 0.1em solid #008cff;
  padding: 0.4em;
  font-size: 1.2em;
  color: darkgray;
  margin-left: auto;
  margin-right: auto;
  display: unset;
}

@media screen and (max-width: 600px) {
  .home-input {
    border-radius: 0.4em;
    border: 0.1em solid #008cff;
    margin-left: auto;
    margin-right: auto;
    padding: 0.5em 1em 0.5em 2em;
    font-size: 1.1em;
    color: darkgray;
    display: block;
  }
}

.home-input1 {
  border-radius: 0.4em;
  border: 0.1em solid #008cff;
  padding: 0.4em;
  margin-left: auto;
  margin-right: auto;
  font-size: 1.2em;
  color: darkgray;
  display: unset;
}

@media screen and (max-width: 600px) {
  .home-input1 {
    border-radius: 0.4em;
    border: 0.1em solid #008cff;
    margin-left: auto;
    margin-right: auto;
    padding: 0.5em 1em 0.5em 2em;
    font-size: 1.1em;
    color: darkgray;
    display: block;
  }
}

.button {
  display: inline-block;
  font-size: 1.1em;
  text-decoration: none;
  border-width: 2px;
  border-style: none;
  padding: 0.6em 1.75em;
  border-radius: 0.3em;
  color: #ffffff;
  background-color: #008cff;
  cursor: no-drop;
  margin-top: 0;
  width: unset;
}

@media screen and (max-width: 600px) {
  .button {
    font-size: 1.1em;
    text-decoration: none;
    border-width: 2px;
    border-style: none;
    padding: 0.6em 1.75em;
    border-radius: 0.3em;
    color: #ffffff;
    background-color: #008cff;
    cursor: no-drop;
    margin-top: 1em;
    width: 50%;
  }
}

.tooltip {
  position: relative;
  display: inline-block;
}

@media screen and (max-width: 600px) {
  .tooltip {
    position: unset;
    display: inline-block;
  }
}

.tooltiptext {
  visibility: hidden;
  width: 320px;
  color: #ff0000;
  text-align: center;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  top: 2.5em;
  left: -126%;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}

.btn-nav {
  color: white;
  display: inline-block;
  font-size: 1.7em;
  text-decoration: none;
  padding: 0.7em;
  border-style: none;
  border-radius: 0.3em;
  font-weight: 900;
}

@media screen and (max-width: 600px) {
  .btn-nav {
    color: white;
    display: inline-block;
    font-size: 1.17em;
    text-decoration: none;
    border-style: none;
    border-radius: 0.3em;
    font-weight: 900;
  }
}

.btn-nav:hover {
  color: #00dfff;
  background-color: #ffffff;
}

.btn-sub {
  color: #ffffff;
  background-color: #008cff;
  display: inline-block;
  font-size: 1.6em;
  text-decoration: none;
  border-width: 2px;
  border-style: none;
  padding: 0.4em 1.4em;
  border-radius: 0.3em;
  cursor: no-drop;
  margin-top: 0em;
}

@media screen and (max-width: 600px) {
  .btn-sub {
    margin-top: 1em;
  }
}

.Stater-container {
  display: inline-block;
  width: 100%;
  margin-bottom: 2em;
}

.col {
  width: 33.33%;
  position: relative;
  display: inline-block;
  float: left;
}

@media screen and (max-width: 600px) {
  .col {
    width: 100%;
    position: relative;
    display: inline-block;
    float: none;
  }
}

.str-h2 {
  float: none;
  margin-top: 0em;
  margin-right: 0em;
}

@media screen and (max-width: 600px) {
  .str-h2 {
    float: right;
    margin-top: 5em;
    margin-right: 3em;
  }
}

.starter-img {
  width: 40%;
  margin-top: 2em;
}

.row {
  width: 100%;
}

.str-h1 {
  font-size: 2.5em;
}

@media screen and (max-width: 600px) {
  .str-h1 {
    font-size: 1.5em;
  }
}

.home-h1 {
  font-size: 3em;
  text-shadow: 0 0 2px black;
}

@media screen and (max-width: 600px) {
  .home-h1 {
    font-size: 2em;
  }
}

.grade-container {
  display: inline-block;
  width: 100%;
  background-color: cornflowerblue;
  color: white;
}

@media screen and (max-width: 600px) {
  .grade-container {
    padding: 0em 0.3em;
  }
}

.g-row {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  height: 100%;
  margin: 0em 0;
  padding: 0;
}

@media screen and (max-width: 600px) {
  .g-row {
    display: flex;
    flex-flow: column;
    height: 100%;
    margin: 3em 0;
    padding: 0;
  }
}

.g-row2 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  height: 100%;
  margin: 0em 0;
  padding: 0;
}

@media screen and (max-width: 600px) {
  .g-row2 {
    display: flex;
    flex-flow: column-reverse;
    height: 100%;
    margin: 3em 0;
    padding: 0;
  }
}

.g-col {
  justify-content: center;
  align-items: center;
  display: flex;
  padding: 0;
  margin: 0;
}

.grd-img-2 {
  width: 100%;
  box-shadow: 0px 0px 8px 0px #0000007d;
  /* border-radius: 1em;
	border-top: 0.3em solid #ffffff;
	border-left: 0.3em solid #ffffff;
	border-bottom: 0.3em solid #ffffff;
	border-right: none; */
}

/* @media screen and (max-width: 600px){
	.grd-img-2 {
		width: 100%;
		border-radius: 1em;
		border-top: 0.3em solid #ffffff;
		border-left: 0.3em solid #ffffff;
		border-bottom: 0.3em solid #ffffff;
		border-right: 0.3em solid #ffffff;
	}
} */
.grd-img-3 {
  width: 100%;
  box-shadow: 0px 0px 8px 0px #0000007d;
  /* border-radius: 1em;
	border-top: 0.3em solid #ffffff;
	border-right: 0.3em solid #ffffff;
	border-bottom: 0.3em solid #ffffff;
	border-left: none; */
}

/* @media screen and (max-width: 600px){
	.grd-img-3 {
		width: 100%;
		border-radius: 1em;
		border-top: 0.3em solid #ffffff;
		border-right: 0.3em solid #ffffff;
		border-bottom: 0.3em solid #ffffff;
		border-left: 0.3em solid #ffffff;
	}
} */
.grd-img-1 {
  width: 100%;
  box-shadow: 0px 0px 8px 0px #0000007d;
  /* border-radius: 1em;
	border-top: 0.3em solid #ffffff;
	border-right: 0.3em solid #ffffff;
	border-bottom: 0.3em solid #ffffff;
	border-left: none; */
}

/* @media screen and (max-width: 600px){
	.grd-img-1 {
		width: 100%;
		border-radius: 1em;
		border-top: 0.3em solid #ffffff;
		border-right: 0.3em solid #ffffff;
		border-bottom: 0.3em solid #ffffff;
		border-left: 0.3em solid #ffffff;
	}
} */

.grd-h1 {
  font-size: 3em;
}

.grd-p {
  font-size: 1.5em;
  margin: 1em 1em 1em 1em;
}

@media screen and (max-width: 600px) {
  .grd-p {
    font-size: 1.5em;
    margin: 1em 1em 1em 1em;
  }
}

.evolution-container {
  display: inline-block;
  width: 100%;
  background-color: #00f194;
  color: white;
}

.starter-img-e {
  width: 50%;
  margin-top: 2em;
  border-radius: 7%;
}

.evo-h2 {
  font-size: 2em;
}

.evo-p {
  font-size: 1.5em;
}

.explore-container {
  width: 100%;
  padding: 10em 0;
  background-image: url("../img/world-1.png");
  background-size: cover;
  background-position: center;
  height: 75vh;
  padding-top: 10vh;
  display: inline-block;
}

@media screen and (max-width: 600px) {
  .explore-container {
    background-image: url("../img/PSMD_poster.png");
  }
}

.exp-content {
  display: inline-block;
  width: 75%;
  padding: 1em;
  background-color: rgba(255, 255, 255, 0.74);
  border-radius: 0.5em;
  border-style: none;
  color: darkcyan;
}

.exp-h1 {
  text-align: center;
  font-size: 3em;
}

footer li a {
  color: #ffffff;
  text-decoration: none;
}

footer li {
  display: inline-block;
  list-style-type: none;
  padding: 2px 4px;
  transition: all ease 0.3s;
}

footer li:hover {
  background-color: #292929;
  border-radius: 3px;
}

footer {
  text-align: center;
  padding: 3em;
  background: #000000;
  color: #ffffff;
}

footer ul {
  list-style-type: none;
  width: 97%;
}

@media screen and (max-width: 600px) {
  footer ul {
    width: 88%;
  }
}

@media screen and (max-width: 600px) {
  .input-home {
    margin-bottom: 0;
  }
}
