:host {
  display: block;
}

.card {
  background-color: rgba(223, 223, 223, 0.856);
  border-radius: 10px;
  padding: 1rem;
  text-align: center;
  transition: all 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  cursor: pointer;
  position: relative;
  overflow: hidden;
  box-shadow: 0 4px 15px rgba(0,0,0,0.05);
 width: 14rem;
    height: 17rem;
}

.card:hover {
  transform: translateY(-10px);
  box-shadow: 0 20px 40px rgba(0,0,0,0.1);
}

.card .image-container {
 height: calc(100% - 3rem);
 width: 100%;
}

.card .image-container img {
  width:100%;
  height: 100%;
  transition: transform 0.3s;
}

.card:hover .image-container img {
  transform: scale(1.1);
}

.card-info .id-badge {
  font-size: 0.8rem;
  color: #999;
  font-weight: 700;
}

.card-info  h3 {
  margin: 0.5rem 0;
  font-size: 1.2rem;
  color: var(--pk-dark);
}