/* img{
    width: 100%;
    height: 100%;
    border-radius: 15px;
} */

/* :host {
  width: 100vw;
  max-width: 100%;
  background-image: url('../../../../../assets/images/pokemon-7680x4320.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: block;
  height: 100vh;
  position: absolute;
  top: 0;
} */
